<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
	crossorigin="anonymous">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
		<h1>Countries</h1>
		
		
		<a th:href="@{/showNewCountry}" class="btn btn-primary">Add new
			country</a>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Country Id</th>
					<th>Country Name</th>
					<th>Region Id</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="country : ${listCountries}">
					<td th:text="${country.countryId}"></td>
					<td th:text="${country.countryName}"></td>
					<td th:text="${country.regionId}"></td>
					<td>
						<!-- 
						
					--> <a th:href="@{/updateCountry/{id}(id=${country.countryId})}"
						class="btn btn-primary">Update</a>
						<a th:href="@{/deleteCountry{id}(id=${country.countryId})}"
						class="btn btn-danger">Delete</a>
					</td>

				</tr>
			</tbody>

		</table>
	</div>



	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
</body>
</html>